.home-button {
  position: absolute;
  top: 10px;
  left: 10px;
  background: none;
  border: none;
  font-size: 18px;
  cursor: pointer;
  display: flex;
  align-items: center;
  color: #1d2d44;
}

.home-button svg {
  width: 2rem;
  height: 2rem;
}

.home-button svg {
  margin-right: 5px;
}

.contacts-container {
  padding: 2rem;
  text-align: center;
  display: block;
  padding-bottom: 1000px;
}

.contacts-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1rem;
}

.search-bar {
  display: flex;
  gap: 10px;
}

.search-bar input {
  /* padding: 0.5rem; */
  font-size: 1rem;
  border-radius: 4px;
  border: 1px solid #ccc;
}

.contacts-buttons {
  display: flex;
  justify-content: center;
  gap: 1rem;
  margin: 1rem 0;
}

.contacts-divider {
  height: 1px;
  background-color: #ccc;
  width: 60%;
  margin: 0 auto 2rem auto;
}

.button-group {
  display: flex;
  justify-content: center;
  gap: 1rem;
  margin-top: 2rem;
}

.add-button,
.edit-button {
  padding: 0.75rem 1.5rem;
  font-size: 1rem;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  color: white;
}

.add-button {
  background-color: #1d2d44
}

.edit-button {
  background-color: #2196F3; /* Blue */
}

.contacts-divider {
  border: none;
  height: 1px;
  background-color: #ddd;
  margin: 2rem auto;
  width: 80%;
}

.contact-form {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  margin: 1rem 0;
}

.contact-form input {
  padding: 0.5rem;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.contacts-list {
  margin-top: 1.5rem;
}

.edit-icon {
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
  color: #333;
}

.remove-icon {
  position: absolute;
  top: 5px;
  right: 3px;
  cursor: pointer;
  color: #a90000;
}

.contact-content h3 {
  margin-bottom: 0.5rem;
}

.edit-fields input {
  display: block;
  width: 95%;
  margin: 0.5rem auto;
  padding: 0.5rem;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.form-buttons {
  display: flex;
  justify-content: center;
  gap: 12px;
  margin-top: 1rem;
}

.save-button,
.cancel-button {
  padding: 0.5rem 1.2rem;
  font-size: 1rem;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  width: 100px;
  text-align: center;
}

.contact-card {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #f9f9f9;
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 1rem;
  margin-top: 1rem;
  text-align: left;
}

.contacts-delete-button {
  color:#f10000;
  border: none;
  padding: 0.5rem 1rem;
  border-radius: 6px;
  cursor: pointer;
  font-size: 1.5rem; 
  padding: 1rem 2rem;
  display: flex;
  align-items: center;
  gap: 10px;
}

.delete-button svg {
  width: 2rem;
  height: 2rem;
}

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-content {
  background: white;
  padding: 20px;
  border-radius: 8px;
  text-align: center;
  width: 400px;
  max-height: 500px;
  display: flex;
  flex-direction: column;
}

.search-input {
  width: 90%;
  padding: 8px;
  margin: 10px 0;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.scroll-container {
  max-height: 300px;
  overflow-y: auto;
  border: 1px solid #ddd;
  border-radius: 4px;
  padding: 10px;
  margin-top: 10px;
}

.search-results {
  list-style: none;
  padding: 0;
}

.search-item {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  border-bottom: 1px solid #ddd;
}

.search-item button {
  background-color: #1d2d44;
  color: white;
  border: none;
  padding: 5px 10px;
  border-radius: 4px;
  cursor: pointer;
}

.search-item button:hover {
  background-color: #2c3e50;
}

.search-item button.added {
  background-color: #2ecc71;
}

.close-button {
  margin-top: 15px;
  padding: 8px 12px;
  background-color: #1d2d44;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.contacts-search-container {
  text-align: left;
}