.create-meeting-container {
  padding: 2rem;
  max-width: 100%;
  margin: 0 auto;
  justify-content: flex-start;
}

.create-meeting-container h1 {
  text-align: center;
  margin-bottom: 2rem;
  
}

input[type="text"],
input[type="datetime-local"],
textarea {
  width: 100%;
  padding: 0.6rem;
  margin-bottom: 1rem;
  border: 1px solid #ccc;
  border-radius: 6px;
  font-family: serif;
  font-size: 1rem;
}

.contact-select .contact-entry {
  display: flex;
  justify-content: space-between;
  margin-bottom: 0.5rem;
}

.selected-contacts ul {
  list-style: none;
  padding: 0;
}

.selected-contacts li {
  display: flex;
  justify-content: space-between;
  margin-bottom: 0.4rem;
}

.meeting-actions {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1.5rem;
  margin-top: 2rem;
  width: 100%;
}

.create-meeting-container > button {
  margin-left: auto !important;
  margin-right: auto !important;
  margin-top: 2rem !important;
}

.create-button,
.save-button,
.delete-button {
  padding: 0.75rem 1.5rem;
  color: white;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  width: 200px !important;
  height: 48px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: inherit;
  font-size: 16px !important;
}

.create-button:hover {
  background-color: #2c3e50;
}

.save-button:hover {
  background-color: #2c3e50;
}

.delete-button:hover {
  background-color: #c53030;
}

.save-button {
  background-color: #1d2d44;
}

.delete-button {
  background-color: #e53e3e;
}

.save-button svg {
  width: 18px !important;
  height: 18px !important;
  margin-right: 8px !important;
}

.delete-button svg {
  width: 18px !important;
  height: 18px !important;
}

.home-button {
  position: absolute;
  top: 10px;
  left: 10px;
  background: none;
  border: none;
  font-size: 18px;
  cursor: pointer;
  display: flex;
  align-items: center;
  color: #1d2d44;
}

.home-button svg {
  width: 2rem;
  height: 2rem;
  margin-right: 5px;
}

.meetings-section {
  margin-top: 3rem;
  border-top: 1px solid #ccc;
  padding-top: 2rem;
}

.meeting-list {
  list-style: none;
  padding: 0;
}

.meeting-card {
  background-color: #f1f1f1;
  padding: 1rem;
  margin-bottom: 1rem;
  border-radius: 8px;
  text-align: left;
  box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}

.meeting-contact-card {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  margin-top: 1rem;
  text-align: left;
}
 
.remove-button{
  padding: 0.75rem 1.5rem;
  font-size: 1rem;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  color: white;
  background-color: #1d2d44
}

.add-button {
  background-color: #1d2d44;
  color: white;
  cursor: pointer;
}

.add-button.added {
  background-color: gray;
  cursor: not-allowed;
}

.create-meeting-contacts-container {
  display: flex;
  justify-content: space-between;
  gap: 20px;
}

.contacts-box {
  flex: 1;
  background: #f9f9f9;
  padding: 15px;
  border-radius: 8px;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
  max-height: 300px;
  overflow-y: auto;
}
.selected-contacts-box{
  flex: 1;
  background: #f9f9f9;
  padding: 15px;
  border-radius: 8px;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
  max-height: 300px;
  overflow-y: auto;
}

.contacts-list,
.selected-contacts-list {
  list-style: none;
  padding: 0;
}

.contact-card,
.selected-contact-card {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: white;
  padding: 10px;
  border-radius: 5px;
  margin-bottom: 8px;
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.1);
}

.input-group {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
  align-items: flex-start;
  max-width: 95%;
}

.input-group label {
  font-weight: bold;
  margin-bottom: 5px;
  text-align: left;
  width: 100%;
}

.input-group input {
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
}

.heatmap-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 2rem;
  width: 100%;
}