@import url("https://fonts.googleapis.com/css2?family=Alfa+Slab+One&family=DM+Serif+Text:ital@0;1&display=swap");

:root {
  font-family: "DM Serif Text", serif;
  line-height: 1.5;
  font-weight: 400;

  color: black;
  background-color: white;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1, h2, h3{
  font-family: "Alfa Slab One", cursive;
  color: #1d2d44;
}

h4, h5, h6 {
  font-family: "DM Serif Text", cursive;
  color: #748cab;
}

a {
  font-weight: 500;
  color: #000;
  text-decoration: inherit;
}

a:hover {
  color: #333;
}

body {
  margin: 0;
  min-width: 100vw;
  min-height: 100vh;
  background-color: white;
  color: black;
  display: block;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border: none;
  outline: none;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  cursor: pointer;
  align-items: center;
  background-color: transparent;
}

button:hover,
button:focus,
button:active {
  outline: none !important;
  box-shadow: none !important;
  opacity: 0.8;
}


svg {
  pointer-events: none;
}


@media (prefers-color-scheme: dark) {
  :root {
    color: black;
    background-color: white;
  }
}
