
:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color: black;
  background-color: white;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #000; /* Black text for links */
  text-decoration: inherit;
}

a:hover {
  color: #333; /* Darker hover effect */
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  background-color: white;
  color: black;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border: none; /* Removes the border */
  outline: none; /* Removes focus outline */
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: white;
  color: black;
  cursor: pointer;
}

button:hover {
  background-color: #f0f0f0; /* Light grey hover */
}

@media (prefers-color-scheme: dark) {
  :root {
    color: black;
    background-color: white;
  }
}
